.langCoverage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

.langCoverage > div {
  background: black;
  color: black;
  overflow: hidden;
}

.langReport {
  display: flex;
  width: 100%;
  overflow-y: auto;
  position: relative;
  left: 0;
  right: 0;
}

.report-circle {
  width: 200px;
  color: black;
  font-family: monospace;
  font-size: 12px;
  padding: 8px 12px;
}

.report-circle.is-present {
  background: black;
  color: white;
}

.articleBar-bar {
  background: black;
}
