.langCoverage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

.langCoverage > div {
  background: black;
  color: black;
  overflow: hidden;
}

.langReport {
  display: flex;
  width: 100%;
  overflow-y: auto;
}

.report-circle {
  color: black;
  font-family: monospace;
  font-size: 11px;
  padding: 4px;
}

.report-circle.is-present {
  background: black;
  color: white;
}

.articleBar-bar {
  background: black;
}
